<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
<h2>Password Reset</h2>
<form id="resetPasswordForm">
    <input type="hidden" id="token" name="token" value="">
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <button type="submit">Reset Password</button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var urlParams = new URLSearchParams(window.location.search);
        var token = urlParams.get('token');
        document.getElementById('token').value = token;
    });

    document.getElementById('resetPasswordForm').onsubmit = function(event) {
        event.preventDefault();
        var token = document.getElementById('token').value;
        var newPassword = document.getElementById('newPassword').value;

        var formData = new FormData();
        formData.append('token', token);
        formData.append('newPassword', newPassword);

        fetch('/users/reset-password', {
            method: 'POST',
            body: formData  // FormData will set the correct Content-Type
        })
            .then(response => {
                if (response.ok) {
                    alert('Password reset successfully');
                    // Redirect or update UI
                } else {
                    response.text().then(text => alert(text));
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
</body>
</html>